{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Welcome {{user.username}}.</h1>
<h3>Leave a message for the world to see.</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for message in msg %}
  <li class="list-group-item">
    {{message.user_id}}: {{message.data}}
    <button type="button" class="close" onClick="deleteNote({{ message.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
